.tilt {
  font-family: Poppins, sans-serif;
  background-color: rgb(21 16 48);
  flex: 1 0 12%;
  text-align: center;
  margin: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;

  .motion-div {
    border-radius: 20px;
    background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
    width: 100%;
    padding: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    div {
      display: flex;
      justify-self: center;
      background-color: rgb(21 16 48);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      display: flex;
      align-items: center;

      img {
        padding-top: 10px;
        width: 50px;
        height: 50px;
        object-fit: contain;
      }
      h3 {
        margin-top: 5px;
      }
    }
  }
}
