.education-modal {
  display: flex;
  background-color: #050816;
  // background-color: rgb(78, 181, 237);
  width: 100%;
  flex-direction: column;

  .header {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;

    h4 {
      padding-top: 20px;
      margin-bottom: 10px;
      font-family: Poppins, sans-serif;
      color: rgb(170 166 195);
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 500;
    }
    h1 {
      margin-top: 0px;
      margin-bottom: 0px;
      font-family: Poppins, sans-serif;
      color: white;
      font-size: 60px;
      font-weight: 800;
    }
  }
  .timeline {
    color: white;
    font-family: Poppins, sans-serif;
    //display: flex;
    //justify-content: center;
    //flex-direction: column;

    .column {
      display: flex;
      //flex-direction: row;
      justify-content: center;
      gap: 55px;
      //margin-bottom: 50px;

      .row {
        display: flex;
        flex-direction: column;
        padding: 25px;
        background-color: rgb(21 16 48);
        width: 400px;
        height: fit-content;
        gap: 10px;
        border-bottom: solid 2px white;
        border-radius: 12px;

        .education-tile {
          font-size: 20px;
          font-weight: 700;
        }
        .subtitle {
          color: rgb(170 166 195);
          font-size: 15px;
        }
        ul {
          line-height: 23px;

          li {
            margin-top: 8px;
          }
        }
      }
      .circle {
        margin-top: 20px;
        display: flex;
        position: absolute;
        border: solid 2px white;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        background: white;
        justify-content: center;
        //align-items: center;
        padding: 3px;
        img {
          width: 100%;
          object-fit: contain;
        }
      }
      .line {
        width: 1px;
        background: white;
        border: solid 2px white;
      }
      .spreader {
        padding: 25px;
        width: 400px;
        //height: 50px;
        color: #050816;
      }
    }
  }
}
