.nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 20px 64px;
  position: sticky;
  top: 0;
  z-index: 100;

  .container {
    display: flex;
    gap: 20px;

    .logo-container {
      display: flex;
      width: 40px;
      gap: 10px;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    .name-container {
      display: flex;
      justify-content: flex-start;
      .name {
        font-weight: 700;
        font-size: 18px;
        font-family: Poppins, sans-serif;
        color: white;
        display: flex;
        align-items: center;
      }
    }
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    .link {
      font-family: Poppins, sans-serif;
      font-weight: 600;
      font-size: 18px;
      color: rgb(170, 166, 195);
      cursor: pointer;

      &:hover {
        color: white;
      }
    }
  }
}
